#signup .slide{
    float: left;
    width: 50%;
    height: 1000px;
}


#signup #slideLeft p {
    margin: auto;
    text-align: center;
}

#signup #slideLeft  label {
    text-transform: uppercase;
    height: 15px;
    font-family: OpenSans;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: center;
    /*color: var(--black);*/
    color: #000000;
}

#signup #slideLeft input[name="password"]::placeholder{
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #a6a6a6;
}

#signup #slideLeft input[name="password"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #a6a6a6;
}

#signup #slideLeft input[name="password"]::-ms-input-placeholder { /* Microsoft Edge */
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #a6a6a6;
}


#signup #slideLeft #title {
    width: 156px;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    color: var(--black);

    /*To Review*/
    margin-bottom: 38px;
    font-family: OpenSans;
}

#signup #slideLeft button {
    width: 100%;
    height: 37px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    font-family: OpenSans;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: center;

    /*To Review*/
    /*background-color: var(--black);*/
    background-color: #000000;
    color: #FFFFFF;
}

#signup #slideLeft  hr{
    width: 70%;
    margin: 19px auto 10.5px auto;
}

#signup #slideLeft .SIGN-IN-Copy {
    height: 15px;
    font-family: OpenSans;
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: center;
    color: var(--black);  
    text-transform: uppercase;

    /*TO REVIEW*/
    float: left;
    width: 100%;
}


#signup .slide#slideRight{
    /*background-color: var(--bright-sky-blue);*/
    background-color: #2fbcf7

    ;
}

#signup #slideLeft .content{
    margin: auto;
    width: 30%;
    padding-top: 100px;
}

#signup #slideRight #phone{
    position: relative;
    width: 550px;
    height: 716.4px;
    object-fit: contain;
    background-image: url('./../assets/phone/i-6@3x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

#signup #slideRight #phone #playVideo{
    position: absolute;
    width: 60px;
    height: 61px;
    object-fit: contain;
    top: calc(50% - 30.5px);
    left: calc(50% - 30px);
}

#signup #slideRight #appleStore{
    width: 120px;
    height: 37px;
    background-image: url('./../assets/appstore/appstore-button@3x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto 20px auto;
}

#signup #slideRight #socialNetworks{
    width: 120px;
    height: 37px;
    margin: auto;
    text-align: center;
}

#signup #slideRight #socialNetworks .icon{
    width: 27px;
    height: 26px;
    object-fit: contain;
}
  
#signup #slideRight #socialNetworks .icon#facebookIcon {
    margin-right: 22px;
}
