/**     Variables     **/
$black-color: #000000;
$white-color: #FFFFFF; 
$gray-color: #a6a6a6;
$bright-sky-blue: #2fbcf7;



/**     FONT         **/
$OpenSans: OpenSans;


%input-placeholder-shared {
    font-family: $OpenSans;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: $gray-color;
}

#signup .slide{
    float: left;
    width: 50%;
    height: 1000px;
}

#signup #slideLeft {
    p {
        margin: auto;
        text-align: center;
    }

    label {
        text-transform: uppercase;
        height: 15px;
        font-family: $OpenSans;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.7px;
        text-align: center;
        color: $black-color;
    }

    select { 
        text-indent: calc(50% - 20px);
    }

    button {
        width: 100%;
        height: 37px;
        background-color: $black-color;
        text-align: center;
        font-family: $OpenSans;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.7px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        color: $white-color;
    }

    hr{
        width: 70%;
        margin: 19px auto 10.5px auto;
    }

    input[name="password"]::placeholder{
        @extend %input-placeholder-shared;
    }

    /*Internet Explorer 10-11*/
    input[name="password"]:-ms-input-placeholder { 
        text-align: center;
        font-family: $OpenSans;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $gray-color;
    }

    /* Microsoft Edge */
    input[name="password"]::-ms-input-placeholder {
        text-align: center;
        font-family: $OpenSans;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $gray-color;
    }

    #title {
        width: 156px;
        height: 27px;
        margin-bottom: 38px;
        font-family: OpenSans;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 3px;
        color: $black-color;
    }

    .SIGN-IN-Copy {
        float: left;
        width: 100%;
        height: 15px;
        text-align: center;
        font-family: $OpenSans;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.7px;
        color: $black-color;  
        text-transform: uppercase;
    }
    
    .content{
        margin: auto;
        width: 30%;
        padding-top: 100px;
    }
}

#signup .slide#slideRight{
    background-color: $bright-sky-blue;
}

#signup #slideRight {
    #phone{
        position: relative;
        width: 550px;
        height: 716.4px;
        object-fit: contain;
        background-image: url('./../assets/phone/i-6@3x.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: auto;
    
        #playVideo{
            position: absolute;
            width: 60px;
            height: 61px;
            object-fit: contain;
            top: calc(50% - 30.5px);
            left: calc(50% - 30px);
        }
    }

    #appleStore{
        width: 120px;
        height: 37px;
        background-image: url('./../assets/appstore/appstore-button@3x.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto 20px auto;
    }

    #socialNetworks{
        width: 120px;
        height: 37px;
        margin: auto;
        text-align: center;
    }

    .icon{
        width: 27px;
        height: 26px;
        object-fit: contain;
    }

    .icon#facebookIcon {
        margin-right: 22px;
    }
}