@import 'settings';

/* Colors */
$bright-sky-blue: #2fbcf7;

%input-placeholder-shared {
  color: $light-gray;
  font-family: $body-font-family;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: normal;
  text-align: center;
}

.slidesContainer .slide {
  height: 1000px;
  float: left;

  p {
    margin: auto;
    text-align: center;
  }

  label {
    color: $black;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.7px;
    line-height: normal;
    margin: 1rem 0 0;
    text-align: center;
    text-transform: uppercase;
    min-height: 15px;
  }

  select {
    font-family: $body-font-family;
    font-size: 12px;
    margin: 0;
    text-indent: calc(50% - 60px);
  }

  span {
    font-family: $body-font-family;
    font-size: 12px;
  }

  button {
    color: $white;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 37px;
    letter-spacing: 1.7px;
    line-height: normal;
    text-align: center;
    width: 100%;
    background-color: $black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

  button.sign-up-button {
    margin-top: 34px;
  }

  button.sign-in-button {
    margin-top: 22px;
  }

  hr {
    margin: 19px auto 10.5px auto;
    width: 70%;
  }

  input {
    margin: 0 0 0 0;
  }

  input[name="password"]::placeholder {
    @extend %input-placeholder-shared;
  }

  /* Microsoft Edge */
  input[name="password"]::-ms-input-placeholder {
    color: $light-gray;
    font-family: $body-font-family;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: normal;
    text-align: center;
  }

  /* Internet Explorer 10-11 */
  input[name="password"]:-ms-input-placeholder {
    color: $light-gray;
    font-family: $body-font-family;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: normal;
    text-align: center;
  }

  .title {
    height: 27px;

    span {
      color: $black;
      font-family: $body-font-family;
      font-size: 20px;
      font-stretch: normal;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: normal;
    }
  }

  .subTitle {
    span {
      font-family: $body-font-family;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 32px;
      letter-spacing: normal;
      color: var(--black-two);
    }
  }

  .heading {
    text-align: start;

    span {
      font-family: OpenSans;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 26px;
      letter-spacing: normal;
      color: var(--black);
    }

  }

  .Forgot-your-password {
    color: $black;
    display: inherit;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 82px;
    margin-top: 15px;
    text-align: center;
  }

  .SIGN-IN-Copy {
    color: $black;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 15px;
    letter-spacing: 1.7px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    float: left;
  }

  .containerContent {
    width: 100%;
    float: left;
    margin-bottom: 82px;
  }

  .SIGN-IN-Facebook {
    color: var(--black);
    font-family: $body-font-family;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 613px;
    margin-left: -20px;
  }

  .topContent {
    margin: auto;
    width: 321px;
  }

  .smallTopSeparator  {
    margin-top: 70px;
  }

  .bigTopSeparator  {
    margin-top: 110px;
  }


  .topSeparator  {
    margin-top: 110px;
  }
  
  .content {
    margin: 38px auto 0 auto;
    width: 180px;
  }

  #login .content {
    width: 188px;
  }

  .phone {
    background-image: url('./../assets/phone/i-6@3x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 610px;
    margin: 25px auto 0 auto;
    object-fit: contain;
    position: relative;
    width: 325px;

    #playVideo {
      height: 68px;
      left: calc(50% - 34px);
      -o-object-fit: contain;
      object-fit: contain;
      position: absolute;
      width: 68px;
      top: calc(50% - 34px + 16px);
    }
  }

  #appleStore {
    background-image: url('./../assets/appstore/appstore-button@3x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 37px;
    margin: 0 auto 20px auto;
    width: 120px;
  }

  #socialNetworks {
    height: 37px;
    margin: auto;
    text-align: center;
    width: 120px;
  }

  .icon {
    height: 26px;
    object-fit: contain;
    width: 27px;
  }

  .iconCenter {
    width: 133px;
    height: 79px;
    margin: 0 auto 15px auto;
    display: block;
  }
    

  .icon#facebookIcon {
    margin-right: 22px;
  }
}

.slidesContainer .slide:last-of-type {
  background-color: $bright-sky-blue;
}
