@import 'settings';

/*
  The site has several pages with content splited in two slides:
  1) Left slide with forms in Login, Register and Home pages
  2) Right slide with a blue background and a phone
 */

.slides-container .slide {
  float: left;
  height: 1000px;

  /*
    #Main elements
  */
  hr {
    margin: 19px auto 10.5px auto;
    width: 120px;
  }

  p {
    margin: auto;
    text-align: center;
  }

  label {
    color: $black;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.7px;
    line-height: normal;
    margin: 1rem 0 0;
    min-height: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  input {
    margin: 0 0 0 0;
  }

  input.text-center {
    text-align: center;
  }
  
  input[name="password"]::placeholder {
    color: $light-gray;
    font-family: $body-font-family;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: normal;
    text-align: center;
  }

  select {
    font-family: $body-font-family;
    font-size: 12px;
    margin: 0;
    text-indent: calc(50% - 60px);
    overflow-y: auto;
  }

  select.custom-select {
    padding: 0;
    font-size: 13px;
    min-height: 360px;
    overflow: hidden;

    option.place-holder {
      font-family: OpenSans;
      background-position: 10px;
      background-size: 20px;
      background-repeat: no-repeat;
      border-bottom: 1px solid;
      height: 14px;
      padding: 8px 0 8px 1.5px;
      letter-spacing: 1.9px;
      text-indent: 5px;
    }

    option.custom-option {
      background-position: 10px;
      background-size: 20px;
      background-repeat: no-repeat;
      border-bottom: 1px solid;
      height: 14px;
      padding: 8px 0 8px 1.5px;
      letter-spacing: 1.9px;
      text-indent: 31px;
    }
  
    option.marked-option {
      background-position: 10px;
      background-color: #f4f4f4;
      background-size: 20px;
      background-repeat: no-repeat;
      border-bottom: 1px solid;
      height: 14px;
      padding: 8px 0 8px 1.5px;
      letter-spacing: 1.9px;
      text-indent: 31px;
    }
  }

  span {
    font-family: $body-font-family;
    font-size: 12px;
  }

  .title {
    height: 27px;

    span {
      color: $black;
      font-family: $body-font-family;
      font-size: 20px;
      font-stretch: normal;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: normal;
    }
  }

  .subTitle {
    span {
      color: var(--black-two);
      font-family: $body-font-family;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 32px;
    }
  }

  .heading {
    text-align: start;

    span {
      color: var(--black);
      font-family: $body-font-family;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      line-height: 26px;
    }

  }

  .forgot-your-password {
    color: $black;
    display: inherit;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 82px;
    margin-top: 15px;
    text-align: center;
  }

  .signIn-link {
    color: $black;
    float: left;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 15px;
    letter-spacing: 1.7px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  /*
    #Div Blocks to separate elements
  */
  div.topSeparator--small {
    margin-top: 70px;
  }

  div.topSeparator--big {
    margin-top: 110px;
  }

  /*
    #Main sections of a slide container (.slide)
  */

  .containerContent {
    float: left;
    margin-bottom: 82px;
    width: 100%;
  }

  .topContent {
    margin: auto;
    width: 321px;
  }
  
  .headerContent {
    background-color: $primary-color;
    height: 59px;
    padding-top: 17px;
    color: white;
    text-align: center;

    span {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .closeIcon {
      background-image: url('./../assets/close/close.png');
      background-repeat: no-repeat;
      float: right;
      height: 24px;
      margin-top: 5px;
      margin-right: 13px;
      width: 24px;
    }
  }

  .content {
    margin: 38px auto 0 auto;
    width: 180px;
  }

  .footerContent {
    margin: 38px auto 0 auto;
    position: relative;
    width: 216px;

    .signIn-Facebook {
      color: $black;
      font-family: $body-font-family;
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 2.4px;
      line-height: normal;
      margin-top: -25px;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  /*
    PARAGRAPHS AND CUSTOMS ELEMENTS
  */

  p.bulletPoint {
    background-image: url('./../assets/icons/oval-2-copy@3x.png');
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-size: 11px;
    color: var(--black);
    font-family: $body-font-family;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 104px;
    letter-spacing: normal;
    line-height: 26px;
    padding-left: 15px;
    text-align: left;

    .startTextBold {
      font-weight: bold;
    }
  }

  p.bulletPoint:first-child {
    margin-top: 58px;
  }

  .phone {
    background-image: url('./../assets/phone/i-6@3x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 610px;
    margin: 25px auto 0 auto;
    object-fit: contain;
    position: relative;
    width: 325px;

    .playVideo {
      height: 68px;
      left: calc(50% - 34px);
      -o-object-fit: contain;
      object-fit: contain;
      position: absolute;
      top: calc(50% - 34px + 16px);
      width: 68px;
    }
  }

  .appleStore {
    background-image: url('./../assets/appstore/appstore-button@3x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 37px;
    margin: 0 auto 20px auto;
    width: 120px;
  }

  .socialNetworks {
    height: 37px;
    margin: auto;
    text-align: center;
    width: 120px;

    .icon:first-child {
      margin-right: 22px;
    }
  }

  /*
    #Icons
  */

  .icon {
    height: 26px;
    object-fit: contain;
    width: 27px;
  }

  .iconCenter {
    display: block;
    height: 79px;
    margin: 0 auto 15px auto;
    width: 133px;
  }

  /*
    #Buttons
  */
  button {
    background-color: $black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    color: $white;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 37px;
    letter-spacing: 1.7px;
    line-height: normal;
    text-align: center;
    width: 100%;
  }

  button.sign-up-button {
    margin-top: 34px;
  }

  button.sign-in-button {
    margin-top: 22px;
  }
}

.slides-container .slide.slideLeft {
  width: 357px;
}

.slides-container .slide.slideCenter{
  width: calc(100% - 357px);
}

.slides-container .slide:last-of-type {
  background-color: $primary-color;
}

/*
  About-page
*/

.aboutpage {
  .slide {
    .create-target {
      margin: 24px 14px;
      width: calc(100% - 28px);
    }

    p {
      text-align: justify;
    }
  }

  .iconSmile {
    width: 48px;
    height: 28px;
    margin: 85px auto;
    padding: 1px;
    display: block;
  }
}


/*
  Login-Page
*/

.login {
  .slide .loginContent {
    width: 188px;
  }

  .Forgot-your-password span {
    color: $black;
    display: inherit;
    font-family: $body-font-family;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 82px;
    margin-top: 15px;
    text-align: center;
  }
}

/*
 # GOOGLE MAP REACT
*/

.homepage {
  .slide .create-target {
    margin: 16px auto;
    width: 257px;

    label {
      text-align: left;
      padding-left: 3px;
    }

    input.area {
      font-family: $body-font-family;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.9px;
      color: $black;
    }

    input.choose-title {
      font-family: $body-font-family;
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      text-align: left;
      color: $black;
      padding: 11px 12px;
    }
    
    input.choose-title::placeholder {
      font-family: $body-font-family;
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      text-align: left;
      color: $black;
      padding: 11px 0;
    }
    
    select.custom-select {
      padding: 0;
      font-size: 13px;
      min-height: 365px;
      overflow: hidden;
  
      option.place-holder {
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        text-align: left;
        color: $black;
        padding: 11px 28px;
      }
    }

    .wrapper-button {
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .create-target__button {
        padding: 12px 6px;
        width: auto;
      }
    }

    .iconSmile {
      width: 48px;
      height: 28px;
      margin: 21px auto;
      display: block;
    }
  }

  .targetGroupContainer {
    .targetGroup {
      margin: auto;
      width: 30px;
      height: 30px;
      display: block;
    }
  
    span {
      text-align: center;
      width: 100%;
      float: left;
      margin: 6px 0 26px 0;
      font-size: 11px;
      letter-spacing: 1.6px;
      font-weight: 600;
    }
  }
}
